@model movie_project.Models.MovieInfo
<body>

    <div class="header">
        <div class="wrap">
            <div class="h-logo">
                <a href="~/Views/Home/Index.cshtml">
                    <img src="~/images/logo.png" alt="" /></a>
            </div>
        </div>
        <div class="header-top">
            <div class="wrap">
                <div class="nav-wrap">
                    <ul class="group" id="example-one">
                        
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li style="color:red">@Session["username"]</li>
                        <li>@Html.ActionLink("logout", "logout", "Admin")</li>
                        
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>


<div class="content">
	<div class="wrap">
		<div class="content-top">
            <div class="section group">
                <div class="col span_2_of_3">
                    <div class="contact-form">
                        <h3>Insert Page</h3>
                        @using (Html.BeginForm("Insert" , "Admin" , FormMethod.Post, new { enctype = "multipart/form-data" })) {
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model=>model.Picture)
                                <div>
                                <span>
                                    @Html.LabelFor(model => model.Name)</span>
                                <span>
                                    @Html.TextBoxFor(model => model.Name , new { required = "required" })</span>
                            </div>
                            <div>
                               <span>
                                    @Html.LabelFor(model => model.Genre)</span>
                                <span>
                                    @Html.TextBoxFor(model => model.Genre , new { required = "required" })</span>
                            </div>
                            
                             <div>
                                <span>
                                    @Html.LabelFor(model => model.Date_Of_Release)</span>
                                <span>
                                    @Html.TextBoxFor(model => model.Date_Of_Release , new { required = "required" })</span>
                            </div>
                            <div>
                               <span>
                                    @Html.LabelFor(model => model.Cast)</span>
                                <span>
                                    @Html.TextBoxFor(model => model.Cast , new { required = "required" })</span>
                            </div>
                            
                            <div>
                               <span>
                                    @Html.LabelFor(model => model.Director)</span>
                                <span>
                                    @Html.TextBoxFor(model => model.Director , new { required = "required" })</span>
                            </div>
                            
                             <div>
                                <span>
                                    @Html.LabelFor(model => model.Description)</span>
                                <span>
                                    @Html.TextAreaFor(model => model.Description , new { required = "required" })</span>
                            </div>
                            
                            <div>
                                <span>
                                    @Html.LabelFor(model => model.Film_in_Theater)</span>
                                <span>
                                    @Html.TextBoxFor(model => model.Film_in_Theater , new { required = "required" })</span>
                            </div>

                            <div>
                               

                                    Upload Image: <input type="file" name="image" id="test"/>
 
                            </div>
                            
                             <div>
                                <span>
                                    <input type="submit" value="Insert"></span>
                            </div>
                        }
                    </div>
                </div>
            </div>
            </div>
  			</div>
</div>
</body>

